body {
  margin-top: 30vh;
  text-align: center;
}
h1 {
  margin-bottom: 35px;
  font-size: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #02343f;
}
.toggle {
  background-color: white;
  border: white;
  border-radius: 20px;
  width: 340px;
  height: 35px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.toggle:hover {
  background-color: #02343f;
  color: white;
  transition: 0.5s;
  font-weight: bold;
  transition-timing-function: ease-in-out;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.toggle:focus {
  outline: 2px solid #02343f;
}
.context {
  transition-property: height, background-color;
  transition-duration: 2s, 2s;
}
