.title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}
.submit {
  background-color: white;
  border: white;
  border-radius: 20px;
  width: 340px;
  height: 35px;
  margin-top: 10px;
  padding: 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.submit:hover {
  background-color: #02343f;
  transition: 0.5s;
  font-weight: bold;
  color: white;
  transition-timing-function: ease-in-out;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
input {
  width: 340px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding-left: 18px;
  border: white;
}
input::placeholder {
  color: black;
}
input:focus {
  outline: 2px solid #02343f;
}
body {
  background-color: #f0edcc;
  /* f0edcc */
  /* #ABCAE9, #00A9E0, #0057B8 */
}
p {
  color: red;
  font-size: 5px;
}
hr {
  width: 340px;
  color: white;
  border: 1px solid white;
  margin-bottom: 10px;
}
