.title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
.submit{
    background-color: white;
    border: white;
    border-radius: 20px;
    width: 200px;
    height: 33px;
    margin-top: 20px;
    padding: 0px;
}
.submit:hover {
    background-color: #0057b8;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
  }
input{
    width: 340px;
    height:40px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding-left: 18px;
    border: white;
}
input::placeholder{
    color: black;
}
input:focus{
    outline: 2px solid #0057B8;
}
body{
    background-color:#ABCAE9;
    /* #ABCAE9, #00A9E0, #0057B8 */
}
p{
    color: red;
    font-size: 5px;
}