.submit {
  background-color: white;
  border: white;
  border-radius: 20px;
  width: 200px;
  height: 33px;
  margin-top: 30px;
  padding: 0px;
}
.submit:hover {
  background-color: #0057b8;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}
input.radio {
  width: 20px;
  height: 20px;
}
.radio {
  text-align: left;
  width: 350px;
  margin: 0 auto;
}
.container {
  text-align: center;
}
label {
  color: white;
  text-align: center;
  margin-left: 5px;
  margin-bottom: 10px;
  padding-right: 20px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.error {
  color: red;
}
.success {
  color: #0057b8;
}
